html {
	scroll-behavior: smooth;
}

form {
	width: 100%;
	position: relative;
}

@media screen and (min-width: 650px) {
	form {
		width: 500px;
	}
}

.navBar {
	transition: all 0.5s ease;
}

.navBar.sticking {
	background-color: rgba(0, 0, 0, 1);
}

.suggested__games-link {
	text-decoration: none;
	color: #fff;
	background-image: linear-gradient(
		0deg,
		hsla(0, 0%, 100%, 0) 0,
		hsla(0, 0%, 100%, 0.4) 0,
		hsla(0, 0%, 100%, 0.4) 1px,
		hsla(0, 0%, 100%, 0) 0
	);
	transition: color 0.2s ease-in-out;
}

.suggested__games-link:hover {
	color: hsla(0, 0%, 100%, 0.4);
}

.video_player {
	object-position: center;
	border-radius: 10px;
}

.start_video {
	object-fit: centain;
}

.art-wrapper {
	-webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.3));
	mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.3));
}

.card-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.error_message {
	color: rgb(236, 52, 52);
	font-weight: 400;
	transform: translateX(0.5rem);
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
	position: absolute;
	bottom: 8px;
	right: 0;
}

.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.scrollWatcher {
	position: absolute;
	top: 0;
}
.show-arrow {
	opacity: 0;
	visibility: hidden;
}
.span-arrow:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
